@using WebApplication3.Models;

<br /><br />

<div class="col ">
    <p> Thank you purchasing. Your product will be delivered very soon.</p>

    @*<input type="submit" value="Search" text="refresh" style="width:120px;" id="myTable1" onclick="FilterRecord()" class="btn btn-success refresher" />*@
    

</div>

